<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.royalapp">
    <!-- 03 configurar para meu app acesar dados fora da internetd -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 03 Libera travas de red -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.RoyalApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".TransferenciaFavoritasActivity"
            android:exported="false" />
        <activity
            android:name=".ExtratoUsuarioActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".NovaTransferenciaActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SenhaConfirmadaActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".AlterarSenhaActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".InserirCodigoActivity" />
        <activity
            android:name=".InserirCodigoActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginUsuarioActivity" />
        <activity
            android:name=".InsercaoEmailActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginUsuarioActivity" />
        <activity
            android:name=".LoginUsuarioActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroUsuarioActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginUsuarioActivity" />
    </application>

</manifest>